@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat";
  min-height: 100vh; /* Cambiado a min-height para que crezca con el contenido */
  display: flex;
  flex-direction: column;
  position: relative; /* Crucial para que el ::before se posicione respecto al body */
}

body::before {
  content: '';
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/2.png');
  background-size: cover;
  background-position: center;
  opacity: 0.05; 
  z-index: -1; 
  pointer-events: none; /
}
.panel-superior{
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:10px 40px;
background:#F7F7F7;
box-sizing:border-box;
}

.panel-superior img{
height:40px;
}

.panel {
  height: 100%;
}
/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #1A787A;
  color: white;
  padding: 15px 20px;
  position: relative;
}

.navbar h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.btn-volver {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  min-width: 120px;
  height: 40px; 


  transition: 0.3s;
}

.btn-volver i{
  border-radius: 20px;
  padding: 8px;
  border: #ffffff72 4px solid;
}
.btn-volver i:hover{
color: #C8B49B;
}

/* PANEL */

.panel {
  padding: 30px;
  text-align: center;
}

/* CONTENEDOR */

.contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

/* TARJETAS */

.card {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;
  width: 300px;
  max-width: 90%;
  transition: 0.3s;
   color: #333333;
}

.card:hover {
  background-color: #C8B49B;
  color: #ffffff;
  transform: scale(1.05)
}

.card-top {
  background-color: #024059;
  border-radius: 10px 10px 0px 0px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-top i {
  color:#ffffff;
  font-size: 50px;
}

/* PAGINA DE TRAMITE */

.tramite {
  max-width: 800px;
  margin: auto;
  padding: 25px;
  background-color: #f5f8fb;
}
.tramite h1 {
  color: #2196F3;
  padding-left: 10px;
  border-left: #2196F3 10px solid;
}
.tramite h2 {
  color: #BEA98B;
  padding-bottom: 10px;
  border-bottom: #BEA98B 5px solid;
}
/* FAQ */
.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e9ecef;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
}
.accordion.active{
background:#009983;
color:white;
font-weight: bold;
}


.icono {
  transition: 0.3s;
}

.accordion.active .icono {
  transform: rotate(45deg);
}

.panel-faq {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  background: white;
  padding: 0 10px;
}
.panel-navegacion {
  top: 0;
    background: #1A787A;
  padding: 12px;
  display: flex;
  justify-content: center;
  gap: 40px;
  z-index: 1000;
  flex-wrap: wrap;
  border: none;
}

.panel-navegacion a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
}

.panel-navegacion a:hover {
  color: #C8B49B;
}
#btnSubir {
  position: fixed;
  left: 20px;
  bottom: 30px;
  background: #9f2241;
  color: white;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  display: none;
  transition: 0.3s;
  z-index: 999;
}

#btnSubir:hover {
  background: #7c1b34;
}


.search-container {
  position: relative;
  max-width: 500px;
  margin: 0 auto 30px auto; /* Centrado con margen inferior */
}

.search-container i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #008d7e;
  opacity: 0.6;
}

#buscador {
  width: 100%;
  padding: 12px 12px 12px 45px;
  font-size: 16px;
  background-color: #ffffff; /* Tu negro para no cansar la vista */
  color: #3e3e3e;
  border: 1px solid #333333;
  border-radius: 25px; /* Bordes redondeados modernos */
  outline: none;
  transition: border-color 0.3s ease;
}

#buscador:focus {
  border-color: #1c1c1c;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.05);
}
/* RESPONSIVE */

/* Tablet */
@media (max-width: 900px) {
  .card {
    width: 45%;
  }
}

/* Celular */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .navbar h2 {
    position: static;
    transform: none;
  }
  .panel-navegacion {
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
  }

  .panel-navegacion a span {
    display: none; /* solo iconos */
  }

  .panel-navegacion a {
    font-size: 25px;
  }

  .tramite {
    padding: 25px;
  }

  .accordion {
    font-size: 15px;
    padding: 12px;
  }
  .btn-volver{
    font-size: 30px;
  }

  #btnSubir {
    left: 10px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}
