@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat";
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.panel {
  background-color: #f5f8fb;
  height: 100%;
}
/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #235b4e;
  color: white;
  padding: 15px 20px;
  position: relative;
}

.navbar h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.btn-volver {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  background: #9f2241;
  color: white;
  padding: 10px 18px; /* tamaño fijo */
  border-radius: 6px;
  font-size: 14px; /* tamaño fijo */
  font-weight: 700;
  letter-spacing: 1px;
  min-width: 120px; /* evita que cambie de tamaño */
  height: 40px; /* altura fija */

  transition: 0.3s;
}

.btn-volver:hover {
  background: #9b334d;
}
/* PANEL */

.panel {
  padding: 30px;
  text-align: center;
}

/* CONTENEDOR */

.contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

/* TARJETAS */

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
  width: 300px;
  max-width: 90%;
  transition: 0.3s;
}

.card:hover {
  background-color: #9f2241;
  color: white;
}

.card-top {
  background-color: #bc955c;
  border-radius: 10px 10px 0px 0px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-top i {
  color: white;
  font-size: 40px;
}

/* PAGINA DE TRAMITE */

.tramite {
  max-width: 800px;
  margin: auto;
  padding: 25px;
  background-color: #f5f8fb;
}
.tramite h1 {
  color: #9b334d;
  padding-left: 10px;
  border-left: #9b334d 10px solid;
}
.tramite h2 {
  color: #bc955c;
  padding-bottom: 10px;
  border-bottom: #bc955c 5px solid;
}
/* FAQ */
.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e9ecef;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
}
.accordion.active{
background:#235B4E;
color:white;
}
.accordion:hover {
  background: #dde3e8;
}

.icono {
  transition: 0.3s;
}

.accordion.active .icono {
  transform: rotate(45deg);
}

.panel-faq {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  background: white;
  padding: 0 10px;
  border-left: 4px solid #278670;
}
.panel-navegacion {
  position: sticky;
  top: 0;
  background: #235b4e;
  padding: 12px;
  display: flex;
  justify-content: center;
  gap: 40px;
  z-index: 1000;
  flex-wrap: wrap;
}

.panel-navegacion a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  transition: 0.3s;
}

.panel-navegacion a:hover {
  color: #bc955c;
}
#btnSubir {
  position: fixed;
  left: 20px;
  bottom: 30px;
  background: #9f2241;
  color: white;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  display: none;
  transition: 0.3s;
  z-index: 999;
}

#btnSubir:hover {
  background: #7c1b34;
}
.hero {
  padding: 40px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-img img {
  width: 100%;
  max-width: 600px;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 40px;
  color: #0c5c3f;
}

.hero-text p {
  font-size: 18px;
  margin: 20px 0;
}

.btn {
  background: #0c5c3f;
  color: white;
  padding: 14px 25px;
  text-decoration: none;
  border-radius: 6px;
}

.search-container {
  position: relative;
  max-width: 500px;
  margin: 0 auto 30px auto; /* Centrado con margen inferior */
}

.search-container i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #008d7e;
  opacity: 0.6;
}

#buscador {
  width: 100%;
  padding: 12px 12px 12px 45px;
  font-size: 16px;
  background-color: #ffffff; /* Tu negro para no cansar la vista */
  color: #3e3e3e;
  border: 1px solid #333333;
  border-radius: 25px; /* Bordes redondeados modernos */
  outline: none;
  transition: border-color 0.3s ease;
}

#buscador:focus {
  border-color: #1c1c1c;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.05);
}
/* RESPONSIVE */

/* Tablet */
@media (max-width: 900px) {
  .card {
    width: 45%;
  }
}

/* Celular */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .navbar h2 {
    position: static;
    transform: none;
  }
  .panel-navegacion {
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
  }

  .panel-navegacion a span {
    display: none; /* solo iconos */
  }

  .panel-navegacion a {
    font-size: 14px;
  }

  .tramite {
    padding: 25px;
  }

  .accordion {
    font-size: 15px;
    padding: 12px;
  }

  #btnSubir {
    left: 10px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}
